@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

@mixin flex-stretch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

@mixin flex-stretch-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

@mixin hover-effect {
  opacity: .8;
}

@mixin arrow-dropdown($degree) {
  border-left: 1px solid $gray;
  border-top: 1px solid $gray;
  content: "";
  display: inline-block;
  vertical-align: top;
  margin: .5rem .3rem;
  transform: rotate($degree);
  height: .4rem;
  width: .4rem;
}

@mixin arrow($width, $direction:right) {
  width: $width;
  height: .25rem;
  margin: 1rem 0;
  display: block;
  position: absolute;
  z-index: 10;
  background: $gradient-light;

  @if $direction == left {
	&:before {
	  content: '';
	  position: absolute;
	  top: -.25rem;
	  left: -.1rem;
	  width: .75rem;
	  display: block;
	  border-radius: 50%;
	  height: .75rem;
	  background: $gradient-light;
	}
  } @else {
	&:after {
	  content: '';
	  position: absolute;
	  top: -.25rem;
	  right: -.1rem;
	  width: .75rem;
	  display: block;
	  border-radius: 50%;
	  height: .75rem;
	  background: $gradient-light;
	}
  }
}

@mixin gray-line-mix($left) {
  .gray-line {
	//content: '';
	position: relative;
	left: $left;
	width: .3rem;
	margin: 1rem;
	height: 7rem;
	display: block;
	background: $gray-dark;

	&:after {
	  content: '';
	  position: absolute;
	  bottom: 0;
	  left: -.25rem;
	  width: .75rem;
	  height: .75rem;
	  display: block;
	  border-radius: 50%;
	  background: $gray-dark;
	}
  }
}

@mixin back-gradient($top, $right, $bottom, $left, $from, $to) {
  background: linear-gradient(to right, $from, $to);
  //width: $width;
  opacity: .8;
  content: '';
  z-index: 5;
  position: absolute;
  top: $top;
  bottom: $bottom;
  right: $right;
  left:$left;
}
